/*
 
 _ _  _ ____ _    _  _ ___  ____    ___  ____ ____ _ ____ ____ 
 | |\ | |    |    |  | |  \ |___    |__] |__| [__  | |    [__  
 | | \| |___ |___ |__| |__/ |___    |__] |  | ___] | |___ ___] 
                                                               
 
*/

@-ms-viewport {
  width: device-width;
}

[role='button'] {
  cursor: pointer;
}

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
}

html {
  height: 100%;
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -ms-overflow-style: scrollbar;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  cursor: pointer;
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

a:hover {
  text-decoration: none;
}

button {
  border-radius: 0;
  background: transparent;
}

img {
  max-width: 100%;
  vertical-align: middle;
  border-style: none;
}

textarea {
  overflow: auto;
  resize: vertical;
}

svg {
  fill: currentColor;
}

svg:not(:root) {
  overflow: hidden;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 0;
  margin-bottom: 15px;
  font-weight: 700;
  line-height: 1.2;
  color: currentColor;
}

p {
  margin-top: 0;
  margin-bottom: 20px;
}

article,
aside,
figcaption,
figure,
footer,
header,
hgroup,
main,
nav,
section {
  display: block;
}

blockquote {
  padding: 0;
  margin-left: 0;
  margin-right: 0;
}

abbr[title],
abbr[data-original-title] {
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  cursor: help;
  border-bottom: 0;
}

address {
  margin-bottom: 1rem;
  font-style: normal;
  line-height: inherit;
}

ol,
ul,
dl {
  margin-top: 0;
  margin-bottom: 1rem;
}

ol ol,
ul ul,
ol ul,
ul ol {
  margin-bottom: 0;
}

dt {
  font-weight: 700;
}

dd {
  margin-bottom: .5rem;
  margin-left: 0;
}

blockquote {
  margin: 0 0 1rem;
}

dfn {
  font-style: italic;
}

b,
strong {
  font-weight: bolder;
}

small {
  font-size: 80%;
}

sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

sub {
  bottom: -.25em;
}

sup {
  top: -.5em;
}

pre,
code,
kbd,
samp {
  font-size: 1em;
}

pre {
  margin-top: 0;
  margin-bottom: 1rem;
  overflow: auto;
  -ms-overflow-style: scrollbar;
}

figure {
  margin: 0 0 1rem;
}

table {
  border-collapse: collapse;
}

caption {
  padding-top: 15px;
  padding-bottom: 15px;
  color: gray;
  text-align: left;
  caption-side: bottom;
}

th {
  text-align: inherit;
}

input,
button,
select,
optgroup,
textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button,
input {
  overflow: visible;
}

button,
select {
  text-transform: none;
}

button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  padding: 0;
  border-style: none;
}

input[type="radio"],
input[type="checkbox"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

input[type="date"],
input[type="time"],
input[type="datetime-local"],
input[type="month"] {
  -webkit-appearance: listbox;
}

input[type=range] {
  -webkit-appearance: none;
  /* Hides the slider so that custom slider can be made */
  background: transparent;
  /* Otherwise white in Chrome */
}

input[type=range]::-webkit-slider-thumb {
  -webkit-appearance: none;
}

input[type=range]:focus {
  outline: none;
  /* Removes the blue border. You should probably do some kind of focus styling for accessibility reasons though. */
}

input[type=range]::-ms-track {
  width: 100%;
  cursor: pointer;
  /* Hides the slider so custom styles can be added */
  background: transparent;
  border-color: transparent;
  color: transparent;
}

textarea {
  overflow: auto;
  resize: vertical;
}

fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}

legend {
  display: block;
  width: 100%;
  max-width: 100%;
  padding: 0;
  margin-bottom: .5rem;
  font-size: 1.5rem;
  line-height: inherit;
  color: inherit;
  white-space: normal;
}

progress {
  vertical-align: baseline;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

[type="search"] {
  outline-offset: -2px;
  -webkit-appearance: none;
}

[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  font: inherit;
  -webkit-appearance: button;
}

output {
  display: inline-block;
}

summary {
  display: list-item;
  cursor: pointer;
}

template {
  display: none;
}

[hidden] {
  display: none !important;
}

@font-face {
  font-family: "SegoeUI";
  font-display: swap;
  src: url("../fonts/SegoeUI.woff2") format("woff2"), url("fonts/SegoeUI.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "SegoeUI";
  font-display: swap;
  src: url("../fonts/SegoeUI-Semibold.woff2") format("woff2"), url("fonts/SegoeUI-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Whitney";
  font-display: swap;
  src: url("../fonts/Whitney-Semibold.woff2") format("woff2"), url("fonts/Whitney-Semibold.woff") format("woff");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Whitney";
  font-display: swap;
  src: url("../fonts/Whitney-Book.woff2") format("woff2"), url("fonts/Whitney-Book.woff") format("woff");
  font-weight: 325;
  font-style: normal;
}

@font-face {
  font-family: "Whitney";
  font-display: swap;
  src: url("../fonts/Whitney-Medium.woff2") format("woff2"), url("fonts/Whitney-Medium.woff") format("woff");
  font-weight: 350;
  font-style: normal;
}

/*
 
 _ _  _ ____ _    _  _ ___  ____    ___  _    _  _ ____ _ _  _ ____ 
 | |\ | |    |    |  | |  \ |___    |__] |    |  | | __ | |\ | [__  
 | | \| |___ |___ |__| |__/ |___    |    |___ |__| |__] | | \| ___] 
                                                                    
 
*/

/*
 
 _ _  _ ____ _    _  _ ___  ____    ___  _    ____ ____ _  _ ____ 
 | |\ | |    |    |  | |  \ |___    |__] |    |  | |    |_/  [__  
 | | \| |___ |___ |__| |__/ |___    |__] |___ |__| |___ | \_ ___] 
                                                                  
 
*/

.menu {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: end;
      justify-content: flex-end;
  list-style: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.menu__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
}

.menu__item:last-child {
  margin-right: 0;
}

.btn {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  -ms-flex-align: center;
      align-items: center;
  border-radius: 4px;
  padding: 13px 22px;
  white-space: nowrap;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  border: none;
}

.btn__icon {
  width: 25px;
  height: 25px;
  fill: currentColor;
  margin-right: 12px;
}

.btn__icon:only-child {
  margin: 0;
}

.btn--primary {
  color: white;
  background-color: #F25B24;
  font-weight: 600;
  font-size: 1.12rem;
  line-height: 1em;
  text-decoration: none;
}

.btn--primary:hover {
  background-color: #d6430d;
}

.btn--popup {
  color: white;
  background-color: transparent;
}

.link {
  font-size: 1.12rem;
  line-height: 1em;
  color: inherit;
  text-decoration: none;
}

.link:hover {
  text-decoration: underline;
}

.container {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.card {
  font-family: 'SegoeUI', sans-serif;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: justify;
      justify-content: space-between;
  min-height: 235px;
  background-color: #F6F5F9;
  border-radius: 6px;
}

.card__title {
  font-family: inherit;
  font-weight: 600;
  font-size: 1.37rem;
  line-height: 1.36em;
}

.card__text {
  font-family: inherit;
}

.card__image {
  float: right;
}

.input-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  margin-bottom: 20px;
}

.input-box:last-of-type {
  margin-bottom: 35px;
}

.input-box__title {
  font-size: 1.12rem;
  line-height: 1.3em;
  margin-bottom: 10px;
}

.input-box__input {
  line-height: 1em;
  font-weight: 325;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 17px 12px;
  border: 1px solid #DDDAE7;
  border-radius: 4px;
}

.input-box__input:focus {
  outline-color: #F25B24;
}

.btn-close {
  border: none;
  padding: 14px;
  fill: #918D9A;
}

.btn-close:hover {
  fill: #F25B24;
}

.btn-close__icon {
  fill: inherit;
  width: 14px;
  height: 14px;
}

.btn-menu {
  position: relative;
  z-index: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  padding: 0;
  width: 24px;
  background: transparent;
  border: none;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  cursor: pointer;
}

.btn-menu > span {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  width: 100%;
  height: 2px;
  font-size: 0;
  color: transparent;
  background: white;
  -webkit-transition: background 0.3s 0.3s;
  transition: background 0.3s 0.3s;
}

.btn-menu > span:before,
.btn-menu > span:after {
  content: '';
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background: white;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: top 0.3s 0.3s, -webkit-transform 0.3s;
  transition: top 0.3s 0.3s, -webkit-transform 0.3s;
  transition: top 0.3s 0.3s, transform 0.3s;
  transition: top 0.3s 0.3s, transform 0.3s, -webkit-transform 0.3s;
}

.btn-menu > span:before {
  top: -8px;
}

.btn-menu > span:after {
  top: 8px;
}

.btn-menu--close > span {
  -webkit-transition: background 0.3s 0s;
  transition: background 0.3s 0s;
  background: transparent;
}

.btn-menu--close > span:before,
.btn-menu--close > span:after {
  -webkit-transition: top 0.3s, -webkit-transform 0.3s 0.3s;
  transition: top 0.3s, -webkit-transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s;
  transition: top 0.3s, transform 0.3s 0.3s, -webkit-transform 0.3s 0.3s;
  top: 0;
}

.btn-menu--close > span:before {
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
          transform: rotate3d(0, 0, 1, 45deg);
}

.btn-menu--close > span:after {
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
          transform: rotate3d(0, 0, 1, -45deg);
}

/*
 
 _ _  _ ____ _    _  _ ___  ____    ____ ____ _  _ ___  ____ _  _ ____ _  _ ___ ____ 
 | |\ | |    |    |  | |  \ |___    |    |  | |\/| |__] |  | |\ | |___ |\ |  |  [__  
 | | \| |___ |___ |__| |__/ |___    |___ |__| |  | |    |__| | \| |___ | \|  |  ___] 
                                                                                     
 
*/

.page {
  font-family: 'Whitney', sans-serif;
  width: 100%;
  color: #474351;
  font-size: calc( 0.00227 * 100vw + 13.27273px);
  line-height: 1.5em;
}

.page__banner {
  padding-bottom: 9.6%;
}

.header {
  position: absolute;
  top: 0;
  width: 100%;
  color: white;
  padding: 30px 0;
  z-index: 5;
}

.header__inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
}

.header__menu {
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  -ms-flex-positive: 1;
      flex-grow: 1;
  padding: 0 2.5%;
}

.header__menu--active {
  left: 0 !important;
}

.header__link {
  font-weight: 325;
}

.hero {
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#2D1686), to(#4E33B5));
  background-image: linear-gradient(90deg, #2D1686 0%, #4E33B5 100%);
  padding: 155px 0 5.5% 0;
}

.hero__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.hero__row > * {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.hero__text-block,
.hero__image-block {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.hero__title {
  color: inherit;
  font-weight: 600;
  font-size: 3.12rem;
  line-height: 1.2em;
  margin-bottom: 30px;
}

.hero__text {
  color: inherit;
  font-weight: 350;
  font-size: 1.5rem;
  line-height: 1.3em;
  margin-bottom: 60px;
}

.advantages {
  padding: 6.7% 0;
}

.advantages__title {
  color: #2E2D35;
  font-size: 1.5rem;
  line-height: 1.3em;
  font-weight: 600;
  margin-bottom: 50px;
}

.advantages__row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-left: -15px;
  margin-right: -15px;
}

.advantages__row > * {
  -ms-flex-preferred-size: 100%;
      flex-basis: 100%;
}

.advantages__col {
  -ms-flex: 0 0 100%;
      flex: 0 0 100%;
  max-width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}

.advantages__col:nth-child(-n+2) {
  margin-bottom: 30px;
}

.banner {
  position: relative;
  color: white;
  background-image: -webkit-gradient(linear, left top, right top, from(#2D1686), to(#4E33B5));
  background-image: linear-gradient(90deg, #2D1686 0%, #4E33B5 100%);
  padding: 6%;
  border-radius: 10px;
  overflow: hidden;
}

.banner__text {
  position: relative;
  font-size: 1.4rem;
  line-height: 1.3em;
  font-weight: 600;
  max-width: 560px;
  margin-bottom: 45px;
  z-index: 2;
}

.banner__btn {
  position: relative;
  z-index: 2;
}

.banner__img {
  position: absolute;
  top: 100px;
  right: 0;
}

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.8);
  -webkit-transition: .2s;
  transition: .2s;
  z-index: 100;
  overflow-y: scroll;
}

.popup__body {
  min-height: 100%;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: center;
      justify-content: center;
}

.popup__content {
  position: relative;
  min-width: 85%;
  max-width: 95%;
  background-color: #fff;
  padding: 30px 30px 0 30px;
  border-radius: 4px;
  overflow: hidden;
}

.popup__title {
  font-size: 1.5rem;
  line-height: 1.3em;
  font-weight: 600;
  color: #2E2D35;
  text-align: center;
  margin-bottom: 17px;
}

.popup__text {
  margin-top: .75em;
  margin-bottom: 1.5em;
}

.popup__close {
  position: absolute;
  top: 10px;
  right: 10px;
  border-radius: 4px;
  z-index: 15;
}

.popup--visible {
  opacity: 1;
  visibility: visible;
}

.popup--hidden {
  opacity: 0;
  visibility: hidden;
}

.form {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.form__btn {
  margin-bottom: 55px;
}

@media (min-width: 480px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .menu__item {
    margin-right: 8.5%;
  }

  .container {
    width: 100%;
  }

  .card__text-block {
    -ms-flex-preferred-size: 60%;
        flex-basis: 60%;
    padding-top: 7.3%;
    padding-left: 7.3%;
    -ms-flex-order: 1;
        order: 1;
  }

  .card__image-block {
    -ms-flex-preferred-size: 34.5%;
        flex-basis: 34.5%;
    -ms-flex-order: 2;
        order: 2;
    margin: 20px 10px;
  }

  .btn-menu {
    display: none;
  }

  .hero__text-block {
    -ms-flex-preferred-size: 45%;
        flex-basis: 45%;
  }

  .hero__image-block {
    -ms-flex-preferred-size: 55%;
        flex-basis: 55%;
  }

  .hero__btn {
    max-width: 222px;
  }

  .advantages__title {
    font-size: 2rem;
  }

  .banner__text {
    font-size: 2.12rem;
  }

  .banner__btn {
    max-width: 222px;
  }

  .banner__img {
    top: 20px;
  }

  .popup__content {
    min-width: 490px;
    padding: 60px 60px 0 60px;
  }

  .popup__title {
    font-size: 2.5rem;
    margin-bottom: 35px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 952px;
  }

  .advantages__col--lg-6 {
    -ms-flex: 0 0 50%;
        flex: 0 0 50%;
    max-width: 50%;
    padding-left: 15px;
    padding-right: 15px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1160px;
  }

  .container {
    width: 1160px;
  }

  .advantages__title {
    font-size: 2.5rem;
  }
}

@media (max-width: 992px) {
  .advantages__col {
    margin-bottom: 30px;
  }
}

@media (max-width: 768px) {
  .hero__title {
    font-size: 2rem;
  }

  .hero__text {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .menu {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-pack: center;
        justify-content: center;
  }

  .menu__item {
    -ms-flex-preferred-size: 100%;
        flex-basis: 100%;
    padding: 1em;
    border-bottom: 1px solid white;
  }

  .card {
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: center;
        align-items: center;
    padding: 20px;
  }

  .header__menu {
    position: fixed;
    left: -100%;
    top: 0;
    width: 70%;
    height: 100vh;
    overflow-y: scroll;
    background-color: rgba(45, 22, 134, 0.95);
    -webkit-transition: left 0.2s ease-in-out;
    transition: left 0.2s ease-in-out;
    z-index: 999;
    padding: 0;
    margin: 0;
  }

  .advantages__title {
    max-width: 270px;
  }
}