<section class="advantages">
  <div class="container">
    <h2 class="advantages__title">Меньше условий – больше возможностей</h2>
    <div class="advantages__row">
      <div class="advantages__col advantages__col--lg-6">
        <div class="card">
          <figure class="card__image-block">
            <img src="img/Time.svg" alt="Время" class="card__image">
          </figure>
          <section class="card__text-block">
            <h3 class="card__title">Экономия времени</h3>
            <p class="card__text">Дополнительный канал потенциальных клиентов, готовых приобрести автомобиль, без затрат на рекламу и маркетинг.</p>
          </section>
        </div>
      </div>
      <div class="advantages__col advantages__col--lg-6">
        <div class="card">
          <figure class="card__image-block">
            <img src="img/Speed.svg" alt="Скорость" class="card__image">
          </figure>
          <section class="card__text-block">
            <h3 class="card__title">Никаких задержек</h3>
            <p class="card__text">Вы получаете запросы сразу же после отправки клиентом.</p>
          </section>
        </div>
      </div>
      <div class="advantages__col advantages__col--lg-6">
        <div class="card">
          <figure class="card__image-block">
            <img src="img/Information.svg" alt="Информативность" class="card__image">
          </figure>
          <section class="card__text-block">
            <h3 class="card__title">Максимальная информативность</h3>
            <p class="card__text">В каждой заявке указан регион поиска, марка и модель авто, а так же  индивидуальные запросы клиента.</p>
          </section>
        </div>
      </div>
      <div class="advantages__col advantages__col--lg-6">
        <div class="card">
          <figure class="card__image-block">
            <img src="img/Chat.svg" alt="Общение" class="card__image">
          </figure>
          <section class="card__text-block">
            <h3 class="card__title">Удобство общения</h3>
            <p class="card__text">Для каждого запроса у вас открыт чат
              с клиентом с возможностью отправки документов.</p>
          </section>
        </div>
      </div>
    </div>
  </div>
</section>