.advantages {
  padding: 6.7% 0;
}

.advantages__title {
  color: $color-palite;
  font-size: 1.5rem;
  line-height: 1.3em;
  font-weight: 600;
  margin-bottom: 50px;

  @media (max-width: $screen-md - 1) {
    max-width: 270px;
  } 

  @media (min-width: $screen-md) {
    font-size: 2rem;
  }

  @media (min-width: $screen-xl) {
    font-size: 2.5rem;
  }
}

.advantages__row {
  @include row();
}

.advantages__col {
  @include col(xs, 12);

  @media (max-width: $screen-lg) {
    margin-bottom: 30px;
  }

  &:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}

.advantages__col--lg-6 {
  @include col(lg, 6);
}