.advantages {
  padding: 130px 0;
}

.advantages__title {
  color: $color-palite;
  font-size: 2.5rem;
  line-height: 1.3em;
  font-weight: 600;
  margin-bottom: 50px;
}

.advantages__row {
  @include row();
}

.advantages__col {
  @include col(xs, 12);

  @media (max-width: $screen-md) {
    margin-bottom: 30px;
  }

  &:nth-child(-n+2) {
    margin-bottom: 30px;
  }
}

.advantages__col--md-6 {
  @include col(md, 6);
}