.hero {
  color: white;
  background-image: linear-gradient(90deg, #2D1686 0%, #4E33B5 100%);
  padding: 155px 0 5.5% 0;
}

.hero__row {
  @include row(0,0,0,0,0,0);
}

.hero__text-block,
.hero__image-block {
  flex-basis: 100%;
}

.hero__text-block {
  @media (min-width: $screen-md) {
    flex-basis: 45%;
  }
}

.hero__image-block {
  @media (min-width: $screen-md) {
    flex-basis: 55%;
  }
}

.hero__title {
  color: inherit;
  font-weight: 600;
  font-size: 3.12rem;
  line-height: 1.2em;
  margin-bottom: 30px;

  @media (max-width: $screen-md) {
    font-size: 2rem;
  }
}

.hero__text {
  color: inherit;
  font-weight: 350;
  font-size: 1.5rem;
  line-height: 1.3em;
  margin-bottom: 60px;

  @media (max-width: $screen-md) {
    font-size: 1.25rem;
  }
}

.hero__btn {
  @media (min-width: $screen-md) {
    max-width: 222px;
  }
}