.page {
  font-family: 'Whitney', sans-serif;
  width: 100%;
  color: $color-text-default;
  font-size: calcFluidFontSize(14, 16, 320, 1200);
  line-height: 1.5em;
}

.page__banner {
  padding-bottom: 9.6%;
}