//breakpoints

$sm: 575.98px;
$md: 767.98px;
$lg: 1000px;
$xl: 1200px;

// / breakpoints

$color-text-default: #474351;
$color-palite: #2E2D35;
$color-primary: #F25B24;
$color-secondary: #918D9A;
$color-pale: #F6F5F9;
$color-special: #1B6700;
$transition-time: .2s;
$border-radius: 4px;