<div class="popup popup--callback popup--hidden" tabindex="-1">
  <div class="popup__body">
    <div class="popup__content">
      <button class="btn-close popup__close" aria-label="Закрыть">
        <svg class="btn-close__icon">
          <use xlink:href="img/icons/sprite.svg#cross"></use>
        </svg>
      </button>
      <h2 class="popup__title">
        Авторизация
      </h2>
      <form class="form" action="..." method="post">
        <label class="input-box">
          <span class="input-box__title">E-mail</span>
          <input class="input-box__input" type="email" name="login" placeholder="Введите e-mail" required>
        </label>
        <label class="input-box">
          <span class="input-box__title">Пароль</span>
          <input class="input-box__input" type="password" name="password" placeholder="Введите пароль" required>
        </label>
        <button class="btn form__btn btn--primary" type="submit">Войти</button>
      </form>
    </div>
  </div>
</div>