.card {
  font-family: 'SegoeUI', sans-serif;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  min-height: 235px;
  background-color: $color-pale;
  border-radius: 6px;

  @media (max-width: $screen-md - 1) {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
}

.card__text-block {
  @media (min-width: $screen-md) {
    flex-basis: 60%;
    padding-top: 7.3%;
    padding-left: 7.3%;
    order: 1;
  }
}

.card__image-block {
  @media (min-width: $screen-md) {
    // flex-basis: 190px;
    flex-basis: 34.5%;
    order: 2;
    margin: 20px 10px;
  }
}

.card__title {
  font-family: inherit;
  font-weight: 600;
  font-size: 1.37rem;
  line-height: 1.36em;
}

.card__text {
  font-family: inherit;
}

.card__image {
  float: right;
}