.header {
  position: absolute;
  top: 0;
  width: 100%;
  color: white;
  padding: 30px 0;
  z-index: 5;
}

.header__inner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.header__menu {
  flex-basis: 40%;
  flex-grow: 1;
  padding: 0 2.5%;

  @media (max-width: $screen-md - 1) {
    position: fixed;
    left: -100%;
    top: 0;
    width: 70%;
    height: 100vh;
    overflow-y: scroll;
    background-color: fade-out(#2D1686, .05);
    transition: left 0.2s ease-in-out;
    z-index: 999;
    padding: 0;
    margin: 0;
  }
}

.header__menu--active {
  left: 0 !important;
}

.header__link {
  font-weight: 325;
}