<div class="page__banner">
  <div class="container">
    <div class="banner">
      <p class="banner__text">Регистрируйся и получай актуальные запросы на автомобили от заинтерисованных клиентов</p>
      <a href="#" class="btn banner__btn btn--primary">Регистрация</a>
      <picture>
        <source srcset="img/bg.webp 1x, img/bg@2x.webp 2x" type="image/webp">
        <img src="img/bg.png" srcset="img/bg@2x.png 2x" alt="автомобили" class="banner__img">
      </picture>
    </div>
  </div>
</div>